# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover

# Static site generator output
/site

# IDE files
.idea/
.vscode/

# System files
.DS_Store

# Type checking
.mypy_cache/

# intermediate developpment files
PLAN.md
.github/workflows
